*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Hades";
  font-style: normal;
  font-weight: normal;
  src: local("Hades"), url("HADES.otf") format("truetype");
}

html {
  font-size: 2.2vw;
  line-height: 1.4;
  color: var(--text);
  cursor: url(../images/cursors/default.png), auto;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  /* background-position: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
}

.player {
  margin: 0 auto;
  width: 80%;
}

.enemy {
  margin: 0 auto;
  width: 100%;
}

/* Minimum font size */
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

/* Maximum font size */
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

html,
/* button {
  font-family: "heliotrope_4", serif;
  font-feature-settings: "kern" 1;
  font-feature-settings: "liga" on;
} */

body {
  margin: 0;
}

[center] {
  text-align: center;
}

[align-right] {
  text-align: right;
}

a,
button,
summary {
  cursor: url(../images/cursors/point.png) 10 0, auto !important;
}

input,
textarea,
select {
  cursor: url(../images/cursors/select.png) 10 0, auto !important;
}

a {
  color: inherit;
}

.Button,
button {
  font-size: 1.25rem;
  padding: 0.4em 1em 0.4em;
  border: none;
  border-radius: 0.3em;
  background: hsl(43deg 100% 18%);
  color: hsl(0deg 0% 100% / 95%);
  box-shadow: 0 0.2em hsl(43deg 100% 11%);
  text-decoration: none;
}
.Button + .Button,
button + button {
  margin-left: 0.2em;
}
.Button:hover,
.Button:focus,
button:hover,
button:focus {
  background: hsl(43deg 96% 27%);
  box-shadow: 0 0.1em var(--text-inverse);
}
.Button:active,
button:active {
  position: relative;
  top: 0.1em;
  box-shadow: none;
}
.cloud {
  width: 50%;
  position: absolute;
  z-index: -1;
  border-radius: 30% !important;
}
.c1 {
  top: -20%;
  animation: fly 33s infinite;
}
.c2 {
  top: 30%;
  animation: fly 50s infinite;
}
@keyframes fly {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
.title-container {
  /* background-image: url("../images/paint.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat; */
}
h1 {
  font-family: "Hades";
  margin: 0px;
  /* margin-top: 2rem; */
  font-size: 5rem;
  /* margin-bottom: -1rem; */
  /* background-image: linear-gradient(63deg, var(--yellow), hsl(17, 80%, 60%), hsl(0, 97.2%, 42.7%)); */
  background-image: linear-gradient(180deg, #ff0000, hsl(46deg 100% 50%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* text-shadow: 2px 3px hsla(240, 89%, 4%, 0.1); */
  line-height: 1;
  letter-spacing: 7px;
}
.titlep2 {
  position: relative;
  top: 20px;
  /* z-index: 99999; */
  background-image: linear-gradient(180deg, #ff0000, hsl(46deg 100% 50%));
  opacity: 1;
  -webkit-background-clip: text;
}
h1[medium] {
  font-size: 3rem;
}
h2,
h3 {
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px var(--text-inverse);
}
h2 {
  margin: 1rem 0 0.5rem;
}

.App {
  position: relative;
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.App-background {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/scenes/limbo.png");
}
/* .App-background[data-room-index="1"] {
  background-image: url("../images/scenes/arietty.jpg");
}
.App-background[data-room-index="2"] {
  background-image: url("../images/scenes/bauhaus.jpg");
}
.App-background[data-room-index="3"] {
  background-image: url("../images/scenes/chihiro.jpg");
}
.App-background[data-room-index="4"] {
  background-image: url("../images/scenes/howl.jpg");
}
.App-background[data-room-index="5"] {
  background-image: url("../images/scenes/laputa.jpg");
}
.App-background[data-room-index="6"] {
  background-image: url("../images/scenes/mononoke.jpg");
}
.App-background[data-room-index="7"] {
  background-image: url("../images/scenes/nausicaa.jpg");
}
.App-background[data-room-index="8"] {
  background-image: url("../images/scenes/1.jpg");
}
.App-background[data-room-index="9"] {
  background-image: url("../images/scenes/landscape.jpg");
}
.App-background[data-room-index="10"] {
  background-image: url("../images/scenes/flying-duo.jpg");
}
.App-background[data-room-index="11"] {
  background-image: url("../images/scenes/ponyo.jpg");
} */

/* Darkens the top of the screen to highlight the player+monsters on the background. */
.App-background::before,
.App-background::after {
  content: "";
  background: linear-gradient(to bottom, #000, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: -1;
}
.App-background::after {
  top: initial;
  bottom: 0;
  background: linear-gradient(to top, #000, transparent);
}
#ulti button {
  background: transparent;
  box-shadow: none;
  border: 1px solid white;
  position: absolute;
  top: 10px;
  left: 44%;
  animation: pulseEndTurn 1.5s infinite alternate;
  animation-timing-function: ease-out;
}
#ulti button:disabled,
#ulti button:disabled:hover {
  background: grey;
  animation: none;
}
#ulti button:hover {
  background: var(--yellow);
}

#ulti {
  z-index: 3;
}
.App-background,
.Targets,
.Split,
.Overlay {
  animation: fade-in 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
}
#DrawPile,
#DiscardPile {
  z-index: 2;
}
.Targets {
  animation-delay: 200ms;
}

.Split:not(.Targets) {
  animation-delay: 150ms;
  animation-duration: 2000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}

.EnergyBadge:not(.Card-energy) {
  position: relative;
  top: -100px;
  left: -50px;
  z-index: 1;
  font-size: 1.5rem;
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;

  margin-left: 1rem;
  background-image: url("../images/crystal.gif");
  background-size: cover;
}
.EnergyBadge > span {
  font-feature-settings: "onum" on;
}
/* .no-energy .EnergyBadge {
  background: #272d2b;
} */
.Card-energy {
  -webkit-transform: rotate3d(5, 15, 3, -20deg);
  transform: rotate3d(5, 15, 3, -20deg);
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--teal);
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  box-shadow: 0 0 0.1em var(--lightblue);
  margin-left: 1rem;
  transition: background 0.7s;
}

.Card-energy > span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-font-feature-settings: "onum" on;
  font-feature-settings: "onum" on;
}

@keyframes pulseEndTurn {
  0% {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 6px var(--yellow);
  }

  50% {
    transform: scale(1);
    box-shadow: 0px 0px 15px 10px var(--yellow);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 6px var(--yellow);
  }
}

.Actions {
  text-align: right;
  margin: 0 1rem 0 0;
  position: relative;
  z-index: 1;
}

.EndTurn:hover {
  box-shadow: 0px 0px 15px 10px var(--yellow);
}
.no-energy .EndTurn {
  animation: pulseEndTurn 1.5s infinite alternate;
  animation-timing-function: ease-out;
}
.turnText {
  position: absolute;
  top: 50%;
  z-index: 99999;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.turnText h1 {
  background-image: none;
  color: #fff;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
/* In your hand, the cards stack a bit */
.Hand {
  margin-top: -4rem;
  z-index: 1;
}
.Hand .Cards {
  padding-left: 4rem;
  padding-right: 4rem;
}
.Hand .Card {
  margin-left: -1.5rem;
  /* margin-bottom: -3rem; */
  cursor: grab;
  cursor: url(../images/cursors/grab-open.png) 10 0, auto;
}
.Hand .Card-inner {
  /* because of negative margin */
  padding-bottom: 2rem;
}
.Hand .Card[disabled] {
  cursor: not-allowed;
}
.Hand .Card:hover {
  /* transition-duration: 60ms; */
  /* transform: translate3d(0, -1rem, 0) scale(1.25) rotate(0deg) !important; */
  /* box-shadow: 0 0 0.75em gold; */
  z-index: 1;
}

/* Don't show copy of the dragged card on target */
.Target .Card {
  position: absolute;
  right: 20%;
  z-index: 1;
}

.Splash {
  background: url("../images/scenes/bg2.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
}

.Splash-details {
  width: 100%;
  max-width: 35rem;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.Article {
  /* margin-top: 24vh; */
  background: whitesmoke;
  color: #222;
  padding: 1em 2em;
  border-top: 1px solid white;
  border-right: 2px solid hsla(0, 0%, 0%, 0.9);
}
.Splash-spoder {
  width: 10%;
  position: absolute;
  left: -20%;
  top: 1%;
  transform: rotate(130deg);
}

.Options {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 300px;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  background: #160f0c4d;
  padding: 0.25rem;
  /* border-radius: 1em; */
  border: 2px solid black;
}
.Options:not(.campfire, .mobile) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-top: 0px;
}
.Options > li {
  margin: 1rem;
}
.Options .Button,
.Options button {
  display: block;
  width: 100%;
}

/* Rewards */
.RewardsBox {
  text-align: center;
  margin-bottom: 4rem;
}
.RewardsBox h2 {
  margin-bottom: 4rem;
}
.RewardsBox .Cards {
  min-height: 0;
}
.RewardsBox .Card {
  min-height: var(--card-height);
}
.RewardsBox .CardBox:hover .Card {
  box-shadow: 0 0 0.75em gold;
}
.CardBox {
  cursor: pointer;
  cursor: url(../images/cursors/grab-open.png) 10 0, auto;
}

.History {
  max-width: 30rem;
  margin: 0 auto;
}

table {
  width: 100%;
}
.decks {
  position: relative;
  display: inline-block;
  margin: 50px;
}
.decks span {
  margin: 10px 25px;
}

/* Hero cards */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    flex-wrap: wrap;
  }
  .leaderboard {
    position: relative !important;
    top: auto !important;
    right: auto !important;
  }
}
.hero-card {
  position: relative;
  min-width: 270px;
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr auto;
  border: 0.5em ridge #53b5a8;
  border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAA7ElEQVRYhe2YMQ6DMAxFcwBGRtaeoFUv0K2qOAa36NYDVmLjMmHB0VfqEJbG3xKRvkTiAE+OnYBD2FrfDdFSAVvfDfH7vpsqQQnMMk9xmad0jWOacJ4o79fGVSgEEsPnda1qbx7a8mdifxcIJ7aKm6qHBOZxuTURQsm7i0Djc/y7fAHhYEsgTCYqD6lZRrVk1h6iAZIYoglqOg/RAflZMtwLKDZGOg+dQe0OiO60t8oyutP+/B5yF9R0QH6yTEiplgxJW+jQv30urHagJ0v22n2lSkjyEF196EjRqlRK0cowaNfmaLYfGOuyHjKsYnCffLyABLkAAAAASUVORK5CYII=) !important;
  /* border-image-source: url("../images/cards/border_3.png") !important; */
  border-image-repeat: repeat !important;
  border-image-slice: 6 6 6 6 !important;
  border-image-width: 0.75rem !important;
  border-width: 0.75rem !important;
  border-width: 0.5rem !important;
  image-rendering: pixelated !important;
}

.hero-card-body,
.hero-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card-image {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/heroes/hero1.gif");
  background-color: #9e5161;
  background-size: cover;
}

.hero-card-image img {
  max-width: 95%;
  max-height: 95%;
  transition: max-width 0.4s, max-height 0.4s;
}

.hero-card:hover .hero-card-image img {
  max-width: 120%;
  max-height: 120%;
}

.hero-card {
  box-shadow: 0 15px 30px -10px #000;
  cursor: pointer;
}

.hero-card:hover {
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.hero-card:nth-child(2) .hero-card-image {
  background: url("../images/heroes/PTTA.gif");
  background-color: #34495e;
  background-size: cover;
}

.hero-card:nth-child(3) .hero-card-image {
  background: url("../images/heroes/ice_v1.gif");
  background-color: #4891ba;
  background-size: cover;
}

.hero-card:nth-child(4) .hero-card-image {
  background: url("../images/cards/placeholder.png");
  background-size: cover;
}

.hero-card-body {
  background: #fff;
  padding: 20px 28px;
}

.hero-card-body .power {
  font-weight: bolder;
}

.hero-card-body h2 {
  font-size: 1.8em;
  margin: 4px auto 12px;
  color: #000;
}

.hero-card-body p {
  color: gray;
  font-size: 1.1em;
  line-height: 20px;
  text-align: center;
}

.hero-card-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-card-footer .info {
  font-size: 0.9em;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-card-footer .info:last-child {
  border: none;
}

.hero-card-footer .info .type {
  text-transform: uppercase;
  margin-top: 2px;
  font-size: 0.8em;
}

.hero-card:nth-child(1) .hero-card-footer {
  background: #4891ba;
}
.hero-card:nth-child(2) .hero-card-footer {
  background: #f6b10f;
}
.hero-card:nth-child(3) .hero-card-footer {
  background: #959595;
}
.hero-card:nth-child(4) .hero-card-footer {
  background: #9e5161;
}

.hero-card:nth-child(1) .power {
  color: #4891ba;
}
.hero-card:nth-child(2) .power {
  color: #f6b10f;
}
.hero-card:nth-child(3) .power {
  color: #959595;
}
.hero-card:nth-child(4) .power {
  color: #9e5161;
}

.selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.hero-card:hover .selector {
  opacity: 1;
}
.relics {
  position: absolute;
  left: 85px;
  top: 5px;
}
.relics img {
  width: 40px;
  border-radius: 30%;
}
.react-swipeable-view-container {
  border: 2px solid black;
  max-width: 800px;
  background: #8e8480 !important;
}
.walletConnectBtns {
  width: 100%;
  position: relative;
}
.walletConnectBtns img {
  position: absolute;
  right: 10px;
}
.close-button.MuiBox-root.css-bo6uw6 {
  top: 27px;
}
.close-button.MuiBox-root.css-bo6uw6 button {
  box-shadow: none;
}
.landpage-hero {
  background: url("../images/scenes/bg2.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}
.landingpage h1 {
  font-size: 48px !important;
}
.MuiTypography-body1 {
  font-size: 32px !important;
}
.landingpage h2 {
  font-size: 30px;
}
.landingpage h3,
.landingpage h4,
.landingpage h5 {
  font-size: 26px;
}
.MuiAppBar-root {
  display: none !important;
}
#skill {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 20%;
}
.leaderboard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #160f0c4d;
  padding: 10px;
  padding-top: 50px;
  border-right: 2px solid black;
  z-index: 1;
}
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}
